/* You can add global styles to this file, and also import other style files */
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}
