<div class="text-white pl-4">
  <img src="" alt="" />
  <h1 class="text-3xl font-bold mb-4">Recipe Name</h1>
  <div class="flex flex-row">
    <button
      class="
        flex
        text-white
        border-indigo-500 border-2
        py-1
        px-2
        mr-2
        focus:outline-none
        hover:bg-indigo-500
        rounded
        text-sm
        cursor-pointer
      "
    >
      To Shopping List
    </button>
    <button
      class="
        flex
        text-white
        border-indigo-500 border-2
        py-1
        px-2
        mr-2
        focus:outline-none
        hover:bg-indigo-500
        rounded
        text-sm
        cursor-pointer
      "
    >
      Edit Recipe
    </button>
    <button
      class="
        flex
        text-white
        border-indigo-500 border-2
        py-1
        px-2
        focus:outline-none
        hover:bg-indigo-500
        rounded
        text-sm
        cursor-pointer
      "
    >
      Delete Recipe
    </button>
  </div>
  <div>Description</div>
  <div>Ingredients</div>
</div>
